/*===========
1. Text CSS-Landing Page
2. Heading CSS-Landing Page
============*/

/*----------
1. Text CSS-Landing Page
----------*/
.ui.text.size-textxs {
    font-size: 20px;
    font-weight: 400;
    font-family: Poppins;
}

.ui.text {
    color: var(--white_a700);
    font-family: Poppins;
}

/*----------
2. Heading CSS-Landing Page
----------*/
.ui.heading.size-headingxs {
    font-size: 64px;
    font-weight: 900;
    font-family: Poppins;
    @media only screen and (max-width: 1050px) {
        font-size: 48px;
    }
}

.ui.heading {
    color: var(--black_900);
    font-family: Poppins;
}
