@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/PoppinsBold.ttf");
    font-family: "sans-serif";
    font-weight: 400;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/PoppinsBlack.ttf");
    font-family: "sans-serif";
    font-weight: 900;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/PoppinsBlack.ttf");
    font-family: "sans-serif";
    font-weight: 400;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 700; 
}

